[project]
	description = redis backed analytics for node (in progress).
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Garrett Johnson (gjohnson)
[access "refs/for/refs/*"]
	read = group user/Garrett Johnson (gjohnson)
	push = group user/Garrett Johnson (gjohnson)
	label-Code-Review = -2..+2 group user/Garrett Johnson (gjohnson)
	label-Verified = -1..+1 group user/Garrett Johnson (gjohnson)
	rebase = group user/Garrett Johnson (gjohnson)
	removeReviewer = group user/Garrett Johnson (gjohnson)
	submit = group user/Garrett Johnson (gjohnson)
[access "refs/heads/*"]
	read = group user/Garrett Johnson (gjohnson)
	create = group user/Garrett Johnson (gjohnson)
	push = +force group user/Garrett Johnson (gjohnson)
	pushMerge = group user/Garrett Johnson (gjohnson)
[access "refs/tags/*"]
	push = group user/Garrett Johnson (gjohnson)
	push = +force group user/Garrett Johnson (gjohnson)
